@font-face {
  font-family: 'Dosis';
  src: url('assets/fonts/Dosis-Medium.woff2') format('woff2'),
  url('assets/fonts/Dosis-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('assets/fonts/Dosis-Bold.woff2') format('woff2'),
  url('assets/fonts/Dosis-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('assets/fonts/Dosis-ExtraBold.woff2') format('woff2'),
  url('assets/fonts/Dosis-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('assets/fonts/Dosis-ExtraLight.woff2') format('woff2'),
  url('assets/fonts/Dosis-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('assets/fonts/Dosis-Light.woff2') format('woff2'),
  url('assets/fonts/Dosis-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('assets/fonts/Dosis-SemiBold.woff2') format('woff2'),
  url('assets/fonts/Dosis-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('assets/fonts/Dosis-Regular.woff2') format('woff2'),
  url('assets/fonts/Dosis-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-BoldItalic.woff2') format('woff2'),
  url('assets/fonts/Nunito-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-Light.woff2') format('woff2'),
  url('assets/fonts/Nunito-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-Bold.woff2') format('woff2'),
  url('assets/fonts/Nunito-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-Black.woff2') format('woff2'),
  url('assets/fonts/Nunito-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-ExtraLight.woff2') format('woff2'),
  url('assets/fonts/Nunito-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-Italic.woff2') format('woff2'),
  url('assets/fonts/Nunito-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-ExtraBoldItalic.woff2') format('woff2'),
  url('assets/fonts/Nunito-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-BlackItalic.woff2') format('woff2'),
  url('assets/fonts/Nunito-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-ExtraBold.woff2') format('woff2'),
  url('assets/fonts/Nunito-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-ExtraLightItalic.woff2') format('woff2'),
  url('assets/fonts/Nunito-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-SemiBold.woff2') format('woff2'),
  url('assets/fonts/Nunito-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-LightItalic.woff2') format('woff2'),
  url('assets/fonts/Nunito-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-Regular.woff2') format('woff2'),
  url('assets/fonts/Nunito-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-SemiBoldItalic.woff2') format('woff2'),
  url('assets/fonts/Nunito-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

